.input-ph-text {
    color: #888;
    position: absolute;
    transform: translate(-259px, 9px);
    pointer-events: none;
    transition: font-size 0.1s ease-in-out, transform 0.1s ease-in-out;
    display: inline-block;
    max-width: 20em;
}

.input-ph-text.top {
    font-size: 10px;
    transform: translate(-259px, 3px);
}

.input_labeled input {
    transition: padding 0.1s ease-in-out;
}

.input_labeled input.bot {
    padding-top: 12px;
    padding-right: 40px;
    text-overflow: ellipsis;
}

.input_labeled .icon {
    position: absolute;
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url(stuffs.png);
    transform: translate(236px, -29px);
}

.input_labeled .icon.v {
    background-position: -225px -333px;
}

.input_labeled .icon.i {
    background-position: -249px -333px;
}
