* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #fafafa;
}

section {
    max-width: 350px;
    width: 100%;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    padding: 32px 40px;
}

section:last-of-type {
    padding-top: 25px;
    padding-bottom: 25px;
}

footer {
    margin-top: 20px;
}

footer > :first-child {
    margin-bottom: 20px;
}
