* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #fafafa;
}

/* Outer Sections */

section {
    max-width: 350px;
    width: 100%;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    padding: 32px 40px;
}

section:first-of-type {
    margin-top: 12px;
}

section:last-of-type {
    padding-top: 25px;
    padding-bottom: 25px;
}

footer {
    margin-top: 20px;
}

footer > :first-child {
    margin-bottom: 20px;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header #logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

header #logo img {
    width: 175px;
}

header h2 {
    font-size: 15.6px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    color: #8e8e8e;
    margin-bottom: 18px;
}

header button {
    height: 32px;
}

header button#fb-login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0095f6;
    border: 0;
    width: 100%;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
}

header button#fb-login span {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 6px;
    background-image: url(stuffs.png);
    background-position: -414px -300px;
}

/* -- OR -- separator */
header .hf-separator {
    margin-top: 18px;
    margin-bottom: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .hf-separator :not(.vline) {
    margin: 0 18px;
    color: #8e8e8e;
    font-weight: bold;
}

header .hf-separator .vline {
    display: inline-block;
    width: 100%;
    height: 0.6px;
    background-color: #8e8e8e;
    opacity: 0.5;
}

/* Form */
form {
    width: 100%;
}

form * {
    width: 100%;
}

form > div {
    margin-bottom: 6px
}

form > div:last-of-type {
    margin-bottom: 12px;
}

form > div input {
    border: 1px solid #dbdbdb;
    padding: 9px 0 7px 8px;
    font-size: 12px;
    border-radius: 3px;
    background-color: #fafafa;
}

form > button {
    border: 0;
    background-color: #0095f6;
    border-radius: 4px;
    padding: 5px 9px;
    color: #fff;
    font-weight: bold;
}
