* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #fafafa;
}

/* Outer Sections */

section {
    max-width: 350px;
    width: 100%;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    padding: 32px 40px;
}

section:last-of-type {
    padding-top: 25px;
    padding-bottom: 25px;
}

footer {
    margin-top: 20px;
}

footer > :first-child {
    margin-bottom: 20px;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header #logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

header #logo img {
    width: 175px;
}

header h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    color: #8e8e8e;
}
