#top > header button {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 4px;
    background-color: #0000;
}

#top > header button:hover {
    cursor: pointer;
}

#top > header button img {
    max-height: 100%;
    max-width: 100%;
}

#top > header .links {
    margin-right: 2em;
    color: #ddd;
}

#top > header .links:hover {
    filter: brightness(180%);
}

#top > header .sidebar-btn {
    display: inline-block;
    border: 0;
    border-radius: 4px;
    padding: 0.5%;
}

#top > header .sidebar-btn img {
    filter: invert() brightness(80%);
}

#top > header .sidebar-btn:hover {
    background-color: #fff3;
}

aside {
    position: fixed;
    font-size: 10.8px;
    top: 0;
    right: 0;
    width: 160px;
    height: 100%;
    background-color: #282828;
    color: #fff;
    padding: 0 1em 0 1.5em;
    transition: transform 0.4s ease-in-out;
    overflow-y: auto;
    transform: translateX(100%);
}

aside.active {
    transform: translateX(0);
}

aside section {
    width: 100%;
    margin-top: 2.2em;
}

aside section > :first-child {
    font-size: 9.9px;
    color: #ccc;
}

aside section ul li:first-of-type {
    margin-top: 0.8em;
}

aside section ul li {
    list-style-type: none;
    margin: 0.5em 0;
}

aside section ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

aside #x {
    position: absolute;
    padding: 1em 1.5em 1em 1em;
    max-width: 38px;
    filter: invert();
    right: 0;
    top: 1.2em;
    transition: opacity 0.3s;
}

aside #x:hover {
    opacity: 0.5;
    cursor: pointer;
}

body > ul {
    position: absolute;
    top: 60px;
    right: 50px;
    padding: 12px 18px 12px 14px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    color: #fff;
    background-color: #282828;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

body > ul.active {
    opacity: 1;
}

body > ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

body > ul li img {
    width: 14px;
    height: 14px;
    background-color: white;
    border-color: white;
    border-radius: 100%;
}

body > ul li span {
    margin-left: 8px;
}

body > ul li * {
    font-size: 14px;
    line-height: 32px;
}
