.l-input {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    top: -25px;
    left: 7px;
    padding: 0 5px;
    transition: transform 0.1s cubic-bezier(0.4,0.0,0.1,1), color 0.1s cubic-bezier(0.4,0.0,0.1,1),
                background 0.04s;
    color: #5f6368;
}

.l-input.top {
    color: #1a73e8;
    background-color: #fff;
    transform: scale(0.75, 0.75) translate(-15%, -80%);
}

form .text-input > input:focus {
    border-width: 2px;
    border-color: #1a73e8;
    padding: 8px;
}
