.l-input {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    top: -25px;
    left: 7px;
    height: 20px;
    padding: 0 6px;
    background-color: #0000;
    transition: transform 0.2s cubic-bezier(0.4,0.0,0.1,1), color 0.1s cubic-bezier(0.4,0.0,0.1,1),
                background 0.04s cubic-bezier(1,0,.7,.25);
    color: #5f6368;
}

.l-input.hack {
    transition: transform 0.2s cubic-bezier(0.4,0.0,0.1,1), color 0s, background 0.04s;
}

.l-input.top {
    background-color: #fff;
    transform: scale(0.75, 0.75) translate(-15%, -115%);
}

.l-input.active {
    color: #1a73e8;
}

form .text-input > input:focus {
    border-width: 2px;
    border-color: #1a73e8;
    padding: 8px;
}
