.l-input {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    top: -25px;
    left: 7px;
    padding: 0 5px;
    transition: transform 0.1s cubic-bezier(0.4,0.0,0.1,1), color 0.1s cubic-bezier(0.4,0.0,0.1,1);
}

.l-input.top {
    background-color: #fff;
    color: #5f6368;
    transform: scale(0.75, 0.75) translate(-15%, -135%);
}
